.footer {
    background-color: rgb(0, 176, 252);
    width: 100%;
    bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 8px !important;
    text-align: center;

}

.socialMedia svg {
    color: white;
    margin: 10px 20px;
    font-size: 70px;
    cursor: pointer;
}

.footer p {
    color: white;
}

@media only screen and (max-width: 960px) {
    .footer svg {
        font-size: 50px;
    }
}