.projects {
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.projects .projectTitle {
    text-align: center;
    color: #3e497a;
    font-size: 40px;
    font-weight: bolder;
}

.projectList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-top: 25px;
}

/* MENU ITEM STYLING */

.projectItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgb(6, 255, 243);
    text-align: center;
}

.projectItem:hover {
    box-shadow: 0px 3px 15px rgb(224, 239, 6);
    transition: 0.3s ease-in;
    cursor: pointer;

    -webkit-animation: scale .75s ease;
    animation: scale .75s ease;
    animation-fill-mode: forwards;
    transition: ease-in-out .75s;
}


@-webkit-keyframes scale {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.15;
    }
}

@keyframes scale {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.15;
    }
}

.projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectItem h1 {
    font-size: 25px;
}

@media only screen and (max-width: 1300px) {
    .projectList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .projectList {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .projectList {
        width: 100%;
    }

    .projectItem {
        width: 300px;
        height: 300px;
    }
}